.taskList {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btnDelete {
    margin-left: 10px;
}

.btnInsert,
.btnDeleteAll {
    margin-left: 10px;
}

