.taskItem {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.btnDelete {
    margin-left: 10px;
}

.btnInsert,
.btnDeleteAll {
    margin-right: 5px;
}

.isComplete {
    text-decoration: line-through;
}